CLIENT_ID=
CLIENT_SECRET=
USER_ID=
REFRESH_TOKEN=
COUNTRY_CODE=
USE_PROXIES=False
ROTATE_PROXIES_ON_REFRESH=False
PROXIES_FILE=proxies.txt
# WARNING: If set to True, the app will expose the host IP if all proxies fail or proxies.txt is misconfigured!
FALLBACK_TO_DIRECT_CONNECTION=False
